# Assignment¶

# -String data types all methods

In [1]:
str1="my"
str2="name"
str3="is"
str4="muhammad"
str4="saif"

print(str1.capitalize()+" " +str2.capitalize()+" "+str3.capitalize()+" "+str4.capitalize())

My Name Is Saif

In [2]:
msgs="Hi I Am Student of PIAIC Batch 3"

reslt = msgs.casefold()
print(reslt)

hi i am student of piaic batch 3

In [3]:
txt="Pakistan"

rslt = txt.center(15, "-")
rslt2 = txt.center(15)

print(rslt)
print(rslt2)

----Pakistan---
    Pakistan

In [4]:
txt1=["ali", "saif", "zain", "saif"]

txt1.count(txt1[3])  #tell us how many time the value repeat in list.

2

In [5]:
txt = "My name is såif"

x = txt.encode()

print(x)

b'My name is s\xc3\xa5if'

In [6]:
msgs1 = "Hello, welcome to my saifabbasi."

x = msgs1.endswith(".")

print(x)

True

In [7]:
txt = "P\ta\tk\ts\ts\tt\ta\tn"

print(txt)
print(txt.expandtabs())
print(txt.expandtabs(2))
print(txt.expandtabs(4))
print(txt.expandtabs(10))

P	a	k	s	s	t	a	n
P       a       k       s       s       t       a       n
P a k s s t a n
P   a   k   s   s   t   a   n
P         a         k         s         s         t         a         n

In [8]:
txt = "Hello, welcome to my world."

x = txt.find("welcome")

print(x)

7

In [9]:
student_name = "Muhammad Saif ul Azeem Abbasi"
f_name = "M Azeem"
fee=1000


a="""
PIAIC ISLAMABAD
Bahria University
Name:{1}
Father Name:{0}
Fee :{2}
"""
print(a.format(student_name,f_name,fee))

PIAIC ISLAMABAD
Bahria University
Name:M Azeem
Father Name:Muhammad Saif ul Azeem Abbasi
Fee :1000

In [10]:

sett={'num':"ali", 'f_num':"asif"}


print('{num} {f_num}'.format_map(sett))
print('{f_num} {num}'.format_map(sett))

ali asif
asif ali

In [11]:
a = "we are pakistani we love our country!!!"
a.index("pakistan")

7

In [12]:
strs = "saif1996"
strss = "saif 1996"

x = strs.isalnum()
x1 = strss.isalnum()

print(x)
print(x1)

True
False

In [13]:
strs = "saif1996"
strss = "saif 1996"
sts = "saif"

x = strs.isalpha()
x1 = strss.isalpha()
x2 = sts.isalpha()

print(x)
print(x1)
print(x2)

False
False
True

In [14]:
strs = "såif"


x = strs.isascii()


print(x)

False

In [15]:
a = "\u0030" #unicode for 0
b = "\u0047" #unicode for G

print(a.isdecimal())
print(b.isdecimal())

True
False

In [16]:
dgt = "11333"

rlt = dgt.isdigit()

print(rlt)

True

In [17]:
txtss = "pakistan"
txp = "islamabad1960"
txs = "islamabad 1960"

xyz = txtss.isidentifier()
a = txp.isidentifier()
b = txs.isidentifier()

print(xyz)
print(a)
print(b)

True
True
False

In [18]:
txtbs = "hello"
tp = "i m saif"
tsb="i m Saif"

xsf = txtbs.islower()
sd=tp.islower()
sf=tsb.islower()

print(xsf,sd,sf)

True True False

In [19]:
txt = "565543"
ad="12334f"

x = txt.isnumeric()
y=ad.isnumeric()

print(x,y)

True False

In [20]:
txt1 = "Hello!\nAre you #1?"
txt2 = "hi how are u"

x = txt1.isprintable()
y = txt2.isprintable()

print(x)
print(y)

False
True

In [21]:
txt34 = "   saif   "
tvs="     "

x = txt34.isspace()
y = tvs.isspace()

print(x)
print(y)

False
True

In [22]:
strrs = "Hello, And Welcome To Piaic!"
strrs1 = "Hello, And Welcome To PIAIC!"
strrs2 = "Hello, And Welcome to Piaic!"

x = strrs.istitle()
x1 = strrs1.istitle()
x2 = strrs2.istitle()

print(x)
print(x1)
print(x2)

True
False
False

In [23]:
txtbs1 = "hello"
tp1 = "i m Saif"
tsb1="I M SAIF"

xsf1 = txtbs1.isupper()
sd1=tp1.isupper()
sf1=tsb1.isupper()

print(xsf1,sd1,sf1)

False False True

In [24]:
a = "     MUhaMmaD     sAiF   "
b = a.split() #make the list
print(b)
" ".join(b)

['MUhaMmaD', 'sAiF']

'MUhaMmaD sAiF'

In [25]:
a = "Muhammd Saif ul azeem abbais"
print(a.upper()) ##Inline Operation
print(a)

MUHAMMD SAIF UL AZEEM ABBAIS
Muhammd Saif ul azeem abbais

In [26]:
a = "MUHAMMAD SAIF UL AZEEM ABBASI"
a = a.lower() ##InMemory Operation
print(a)

muhammad saif ul azeem abbasi

In [27]:
a = "     MUhaMmaD     sAiF   "
print(len(a))
print(a.rstrip())
print(a.lstrip())
print(a)

25
     MUhaMmaD     sAiF
MUhaMmaD     sAiF
     MUhaMmaD     sAiF

In [28]:
a = "     MUhaMmaD     sAiF   "
b = a.split() #make the list
b

['MUhaMmaD', 'sAiF']

In [29]:
xt = "Nationality:"

x = xt.ljust(20)

print(x, "I m Proud Pakistani.")

Nationality:         I m Proud Pakistani.

#Apply random operation on oprands

In [30]:
"1" + '1'

'11'

In [31]:
int("1") + int('1')

2

In [32]:
str(int("1")) + "8"

'18'

In [33]:
int("1") + int("8")

9

In [34]:
"8" * 2 #How many time multiply given String

'88'

In [35]:
2*2 #Simple Multiply

4

In [36]:
"pak" * 2 #how many time multiplyb string

'pakpak'

In [37]:
8 * 7 + 9 / 2 ** 20 // 2

56.0

In [38]:
8 * \
7 + \
9 / \
2 ** \
20 // \
2

56.0

In [39]:
a =11//3 #float Division
print(a)

3

In [40]:
a = 8/8
print(a)
print(type(a))

1.0
<class 'float'>

In [41]:
9 + 8 * 2 / 2**2 + (7-3) * 7

41.0