# PIAIC Pyton Class 3

# Types Of Operators

In [ ]:
#Addition or Concatination between list set tupple dictonary oprend etc.

In [1]:
2 + 3

5

In [2]:
2.0 + 3

5.0

In [3]:
3 + 2.0

5.0

In [ ]:
#Sing Concatination

In [4]:
"A" + "B"

'AB'

In [5]:
['a', 'b'] + ['C', 'D']

['a', 'b', 'C', 'D']

In [6]:
('A', "B") + ('C', "D") #Tupple Concatination

('A', 'B', 'C', 'D')

In [7]:
{'A', "B"} + {'C', "D"} #Set Can not be Concatinate 

#we deal Error with Exception Handling

TypeError: unsupported operand type(s) for +: 'set' and 'set'

In [ ]:
{'A',} #WE CAN NOT PERFORM CONCATINATION IN dICTIONARY

In [ ]:
# Subtraction Between List Tupple Set dictionary Oprends etc

In [8]:
5 - 2

3

In [9]:
{"A", "B", "C"} - {"A", "C"}

{'B'}

In [10]:
["A", "B", "C"] - ["A", "C"]

TypeError: unsupported operand type(s) for -: 'list' and 'list'

In [11]:
("A", "B", "C") - ("A", "C")

TypeError: unsupported operand type(s) for -: 'tuple' and 'tuple'

In [12]:
{1:"A", 2:"B", 3:"C"} - {7:"A", 1:"C"}

TypeError: unsupported operand type(s) for -: 'dict' and 'dict'

In [ ]:
#Multiplication

In [26]:
2 * 3

6

In [14]:
2.0 * 3.0

6.0

In [16]:
"AB" * 2

'ABAB'

In [17]:
["A", "B"] * 2

['A', 'B', 'A', 'B']

In [18]:
("A", "B") * 2

('A', 'B', 'A', 'B')

In [19]:
{"A", "B"} * 2

TypeError: unsupported operand type(s) for *: 'set' and 'int'

In [20]:
{1:"A", 2:"B"} * 2

TypeError: unsupported operand type(s) for *: 'dict' and 'int'

In [21]:
#DIVISION

In [22]:
10/5

2.0

In [23]:
11/5

2.2

#Floor Division

In [24]:
11//5.0

2.0

In [25]:
11//5.0

2.0

In [27]:
5/0

ZeroDivisionError: division by zero

In [28]:
#Exception Modules

    ____3____
3___|   11  |______
         9
    ----------
         2

In [29]:
21%5

1

In [30]:
11%3

2

In [31]:
#Exponent

In [32]:
2**2

4

In [33]:
3**2

9

In [34]:
#Comparison(Relationl) Operators

In [37]:
#In coparison computer response in true or false
# == , >  , < , >= , <= , != or <> ,

In [ ]:
#Equal(==) Operator

In [38]:
2 == 2 #Single = Used to assign value

True

In [39]:
2.0 == 2

True

In [40]:
'2' == 2

False

In [41]:
'Saif' == 'saif'

False

In [42]:
"SAIF" == "SAIF"

True

In [43]:
a = ['A', 'B']
b = ['A', 'B']

print(id(a), id(b), sep='\n')

a==b

2931324384968
2931324403784

True

In [44]:
a is b

False

In [45]:
{1,2,3} == {1,2,3}

True

In [48]:
{1:2,2:2,3:3} == {0:2,1:2,2:3}
##{1:'a',2:'b',3:3} == {0:'a',1:'b',2:3}

False

In [49]:
{1:'a',2:'b',3:3} == {0:'a',1:'b',2:3}

False

In [ ]:
# Greater Than

In [50]:
5>4

True

In [51]:
2<3

True

In [53]:
'A'>5

TypeError: '>' not supported between instances of 'str' and 'int'

In [55]:
"A">"B" #Depend on ASCCII value 

# A = 65 ---> Z=90
# a=97  ----> z=122
# 0=48 ---> 9=57

False

In [57]:
chr(65) #Input ascii value output charter

'A'

In [58]:
"A" > "B"

# ord ('A') > ord('B')
#      65   >      66
#   False

False

In [59]:
ord("z")

122

In [60]:
5 >= 5

True

In [61]:
5 > 4

True

In [ ]:
# Less Than

In [62]:
3 < 2

False

In [63]:
"B" < "a"

True

In [64]:
"a" < "z"

True

In [65]:
5 <= 5

True

In [ ]:
#Not Equal

In [66]:
"saif" != "Saif"

True

In [67]:
#Assignment Operator

# = , += , -= , *= , /= , //= , **= , %=

In [68]:
a = 1
a = 2
a = 3

print(a)

3

In [69]:
a = 1
a = a+2 #a=1+2=3
a = a+5 #a=3+5=8
a = a+2 #a=8+2=10
print(a)

10

In [71]:
a = 1
a += 2 #a= 1+2 =3
a += 5

a =+ 5

print(a)

5

In [72]:
a = 1
a +=2
a +=5

In [ ]:
#Remaing do yooursef

In [74]:
#Logical Operator and & , or | , not

In [75]:
True and True and True and True

True

In [76]:
True & True & True & True

True

In [77]:
1 and 0 and 1 and 0

0

In [78]:
1 and 1 and 1 and 1

1

In [79]:
0 & 0 & 0 & 0

0

In [80]:
True or True or False or False or False

True

In [81]:
True | True | False | False | False

True

In [82]:
not(True) #Change true into false

False

In [17]:
print("Choose User Name From These Three Ali, Saif,Hamza ")
aa =input("Enter Your Name")
bb =input("Enter PassWord")
aa=="Ali" or aa=="Saif" and bb=="123"
#aa=="Ali" | aa=="Saif" | aa=="Hamza" & bb=='123'

Choose User Name From These Three Ali, Saif,Hamza
Enter Your NameAli
Enter PassWord123

True

In [ ]:
#Bitwise Operation Convert number into Binary not performed in string but yes in numbers by using ord() for sting

In [11]:
29 & 28 # See Notes

28

In [12]:
29 | 28 #See Notes

29

In [13]:
#Xor gate 1 and 1 = 0

In [14]:
#11100
#11101
#-------
#00001

29 ^ 28

1

In [15]:
~29 #Complement in binary

-30



11100
left sift 2
1110000

In [18]:
28<<2 #See Noets left sift

112

#Right Sift
11100
Right sift 2
00111
-----
7

In [19]:
28>>2 #Right Sift

7

In [20]:
chr(ord("A") & ord("B"))

'@'

In [21]:
#MemberShip Operator

# in
# not in

In [23]:

namess = [chr(i) for i in range (65,91)]
print(namess)

['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J', 'K', 'L', 'M', 'N', 'O', 'P', 'Q', 'R', 'S', 'T', 'U', 'V', 'W', 'X', 'Y', 'Z']

In [ ]:
#names=["Saif", "Ali", "Asim"]

In [31]:
infos=['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J', 'K', 'L', 'M', 'N', 'O', 'P', 'Q', 'R', 'S', 'T', 'U', 'V', 'W', 'X', 'Y', 'Z']
i = 0
while i<len(infos):
    if infos[i]=="F":
        print(True)
        break
    i += 1

True

In [33]:
"F" in infos

True

In [34]:
mess= input("Messagee")
"Pakistan " in mess

MessageePakistan

False

In [37]:
mess= input("Messagee")
"Pakistan " in mess.split()

Messageejbujdhujhjldk Pakistan

False

In [35]:
print(infos)

"a" not in infos

['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J', 'K', 'L', 'M', 'N', 'O', 'P', 'Q', 'R', 'S', 'T', 'U', 'V', 'W', 'X', 'Y', 'Z']

True

In [38]:
user = input("User Name")
password = input("password")

(user in ["A","B","C"]) and password=='123'

User NameA
password1223

False

In [39]:
# Identity Operator
# is

In [40]:
a = 5
b = 5
c = a

print(a,b,c, sep='\n')

print(id(a), id(b), id(c), sep='\n')

5
5
5
140724501197776
140724501197776
140724501197776

In [41]:
a is c #Compare by physical address or use id function

True

In [42]:
# Control Flow
# All comarison operators output is true now we want to perform action on the basis of True and false
# if
# else
# elseif

Pythonic Ways #Indentation sapce is in python 4 spaces
if logic:
    if_value_True
else:
    if_Value_False
    
OlD way 
if (logic)
{
    if logic is true
}
else
{
    if logic in false
}

In [45]:
if True:
    print("Pakistan")
else:
    print("Zinadabad")

Pakistan

In [47]:
if False:
    print("Pakistan")
else:
    print("Zinadabad")

Zinadabad

In [ ]:
#value_if_True if logic else value_if_False

In [48]:
print("Pakistan") if True else print("Zindabad") #Comprehensive Style

Pakistan

In [ ]:
#Go through List all methods and Attributes  before next class